<ion-header>
  <ion-toolbar color="xplore">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cambio de Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="passForm" >
    <ion-list lines="full">
      
      <ion-item>
        <ion-label color="default" position="floating">Contraseña Actual:</ion-label>
        <ion-input type="password" placeholder="Ingresa tu contraseña" minlength="8" formControlName="actualPass"></ion-input>
        <ion-icon color="xplrsecond" slot="start" name="lock-closed-outline"></ion-icon>
        <ion-button fill="clear" slot="end" (click)="togglePassWordChange()">Cambiar</ion-button>
      </ion-item>

      <ion-item *ngIf="changePass">
        <ion-label color="default" position="floating">Nueva Contraseña:</ion-label>
        <ion-input type="password" placeholder="Ingresa tu contraseña" minlength="8" formControlName="newPass"></ion-input>
        <ion-icon color="xplrsecond" slot="start" name="lock-closed-outline"></ion-icon>
      </ion-item>

      <span class="error-message" *ngIf="controls.newPass.errors?.required && controls.newPass.touched">
        *Este campo es obligatorio
      </span>
      <span class="error-message" *ngIf="controls.newPass.errors?.minlength && controls.newPass.touched">
        *La contraseña debe tener al menos 8 caracteres
      </span>
      <span class="error-message" *ngIf="controls.newPass.errors?.mustCapital && controls.newPass.touched">
        *Debe incluir 1 mayúscula
      </span>
      <span class="error-message" *ngIf="controls.newPass.errors?.mustNum && controls.newPass.touched">
        *Debe incluir 1 número
      </span>
      <span class="error-message" *ngIf="controls.newPass.errors?.mustSpecial && controls.newPass.touched">
        *Debe incluir 1 caracter especial
      </span>

      <ion-item *ngIf="changePass">
        <ion-label color="default" position="floating">Confirmar Contraseña:</ion-label>
        <ion-input type="password" placeholder="Ingresa tu contraseña nuevamente" minlength="8" required formControlName="confirmNewPass"></ion-input>
        <ion-icon color="xplrsecond" slot="start" name="bag-check-outline"></ion-icon>
      </ion-item>

      <span class="error-message" *ngIf="controls.confirmNewPass.errors?.required && controls.confirmNewPass.touched">
        *Este campo es obligatorio
      </span>
      <span class="error-message" *ngIf="controls.confirmNewPass.errors?.minlength && controls.confirmNewPass.touched">
        *La contraseña debe tener al menos 8 caracteres
      </span>
      <span class="error-message" *ngIf="controls.confirmNewPass.errors?.mustMatch && controls.confirmNewPass.touched">
        *Debe coincidir con la nueva contraseña
      </span>
    </ion-list>
    <br>
    <br>
    <br>

  </form>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [disabled]="editForm.invalid" type="button" color="xplrsecond" (click)="openConfirmSubmit()">
      <ion-icon name="save-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
