<ion-header>
  <ion-toolbar color="xplore">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Mis Solicitudes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button  tab="finished-reservations">
      <ion-icon color="xplrsecond" name="checkmark-outline"></ion-icon>
      <ion-label>Finalizadas</ion-label>
      <ion-badge color="xplrsecond">{{countFinished}}</ion-badge>
    </ion-tab-button>

    <ion-tab-button color="xplrsecond" tab="pending-reservations">
      <ion-icon color="xplrsecond" name="time-outline"></ion-icon>
      <ion-label>Pendientes</ion-label>
      <ion-badge color="xplrsecond">{{countPending}}</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>



